div.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 1rem;
    background-color: blue;
    border: none;
    border-radius: 20px;
    color: white;
}

#coin {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 2rem 0;
    transform-style: preserve-3d;
}

#coin div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-size: contain;
    position: absolute;
}

.heads {
    background-image: url(images/heads.png);
}

.animate-heads {
    animation: flipHeads 3s;
    animation-fill-mode: forwards;
}

@keyframes flipHeads {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(1800deg);
    }
}

.tails {
    background-image: url(images/tails.png);
    transform: rotateY(-180deg);
}

.animate-tails {
    animation: flipTails 3s;
    animation-fill-mode: forwards;
}

@keyframes flipTails {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(1620deg);
    }
}